body{
	background-color:rgba(230, 230, 255, 0.4);
	font-size:18px;
	color:#8c6699;
	margin: 0;
	padding: 0;
	
}

/**
	CSS used to style the navbar
**/
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6C648B;
}

#nav li {
	float: left;
}

#nav li ul, #nav li li ul {
	display: none;
	position: absolute;
	font-weight: normal;
}

#nav li li {
	display: block;
	float: none;
	background-color: #6C648B;
	border: 0;
}

#nav li a {
	display: block;
	color: #EDFFCA;
	padding: 14px 16px;
	text-decoration: none;
	transition: .075s;
}

#nav li a:hover:not(.active) {
	background-color: #EDFFCA;
	color: #6C648B;
}

#nav li:hover ul{
	display: block;
}

#nav li ul a{
	float: left;

}

#selected {
	background-color: yellow;
}

/**
	CSS used to adjust widths of dropdown menus	
**/
.home{
	padding: 0 0;
	width: 46px;
	height: 46px;
	bottom: 50px;
}
.tutorialsWidth li a{
	width: 8.5em;
	float: left;
}

.commandsWidth li a {
	width: 9.25em;
}		

.quizzesWidth li a {
	width: 6.25em;
}

.resourcesWidth li a {
	width: 4.5em;
}	

.active {
	background-color: #EDFFCA;
	color: #6C648B;
}

#search{
	float: right;
	padding: 0 0;
}

/**
	Query used to adjust navbar to Hamburger at smaller screens 
	Need an @ media Query at 471px, or 540 if we add a search icon 
	Will have to delete navbar and add in a hamburger 
**/

@media only screen and (max-width: 750px){

	#nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #6C648B;
		text-align: center;
	}

	#nav li {
		float: none;
	}

	#nav li ul, #nav li li ul {
		display: none;
		position: absolute;
		font-weight: normal;
	}

	#nav li li {
		display: block;
		float: none;
		background-color: #6C648B;
		border: 0;
	}

	#nav li a {
		display: block;
		color: #EDFFCA;
		padding: 14px 16px;
		text-decoration: none;
		transition: .075s;
	}

	#nav li a:hover{
		background-color: #EDFFCA;
		color: #6C648B;
	}

	#nav li:hover ul{
		display: none;
	}

	#nav li:onclick{
		display:block; 
	}

	#nav li ul a{
		float: left;

	}
	
}

/* Wraps around the entire page content to create space for footer */
#page {
    min-height: 100%;
    margin-bottom: 10em;
}

/* Space for footer */
#push {
    height: 10em;
}

/* CSS for footer */
#footer {
	background-color: #7a719e;
    padding: 15px;
	text-align: center;
	color: black;
}

/* Centers sand removes and list styles from lists in footer */
.footerList {
    list-style-type: none;
	text-align: center;
}

/* Makes the footer objects appear next to each other and add padding */
.footerWidth {
	display: inline-block;
	padding: 0 20px 0 20px;
}

/* Padding for body of resources */
#resourceBody {
    padding: 15px 25px 15px 25px;
}

/* In order to use ul's as an indent, remove any type of list styles */
#resourceList ul li {
    list-style-type: none;
}

/* Class used for centering images */
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 0 5px 0;
}

/* Class used for centering text */
.centerText {
    text-align: center;
}

/* Class used to left align text */
.leftText {
    text-align: left;
    text-decoration: none;
}

h1{
   color:#3d3d5c;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   }
   
h4{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}   
  
p{
    line-height: 150%;  
    text-align: justify; 	
	} 

a:link{
		color: #6C648B;
		text-decoration: none;
		}
		
a:visited{
		   color: #4d4d4d;
		   text-decoration: none;
		   }
		   
a:hover{
		color: #6C648B;
		text-decoration: underline;		   
		}
		
a:active{
		  color: #B0C4DE;
		  text-decoration: underline;
		 }
	
.box1 ul {
	list-style-type: none;
}

.box1 ul li {
	padding: 5px 5px 5px 5px;
}
   
   					  
					  
.tran{
      clear: both;
      margin-right: 0;
      display: inline-block;
      transition: 1s;
      

      } 

.tran:hover{
			opacity: 0.7;
    		filter: alpha(opacity=7);
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 18px 0 rgba(0, 0, 0, 0.9);
  
    	  }	
    	  
    	  
    	  
.border1{
	background-color:#fafafa;
	margin: 5% 18% 5% 18%;
	padding: 1% 1% 1% 1%;
	border: 1px solid black;
} 


.box1{
	margin-left:18%;
	margin-right:15%;
	padding-bottom:20px;
}

/*tutorial page*/
.commBorder{
	    	border-left: 8px solid #8585ad;
    		background-color: #dfe2ec;
    		padding-left: 10px;
	}
	        
.textColor{
	    color: #454059;
	}

/*common commands page and tutorial page - summary table*/
table, td, th {    
   		border: 3px solid #ddd;
    		 text-align: left;
		}

table {
    border-collapse: collapse;
    width: 100%;
	}

th, td {
    text-align: left;
    padding: 12px;
	}
	
tr:nth-child(even){background-color: #e6e6e6}
		

/*Create a Scroll To Top Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#47476b;
  color: white;
  cursor: pointer;
  padding: 12px 17px 12px 17px;
  border-radius: 10px;
  font-size:20px;
}


#myBtn:hover {
  background-color:  #666699;
} 



@media screen and (max-width:500px){
	.tran:hover{	
		display:none;
	    }	
	.tran{
		display:none;
	}   
	
	.pic{
		display:none;
	} 
  
}

  	  				  
