body{
	background-color:rgba(230, 230, 255, 0.4);
	font-size:20px;
	color:#8c6699;
	margin: 0;
	padding: 0;

}

/**
	CSS Used to to style the banner image
**/

.background{
	background-image: url('../images/banner_image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 10em;
}

.imgContainer{
	text-align: center;
}

.imgResp{
	max-width: 100%;
	padding: 0px;
	position: relative;
	top: 30px;
	margin-bottom: 25px;
	height: 134px;
	width: 400px;
}

@media screen and (max-width: 750px){
	.background{
		background-image: url('');
		height: auto;
		background-color: #6C648B;
	}
	.imgResp{
		max-width: 100%;
		padding: 0px;
		position: relative;
		top: 30px;
		margin-bottom: 25px;
		height: auto;
	}
}

/**
	CSS used to style the navbar
**/

#nav{
	font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
	font-size: 1em;
}

#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6C648B;
}

#nav li{
	float: left;
	cursor: pointer;
}

#nav li ul, #nav li li ul{
	display: none;
	position: absolute;
	font-weight: normal;
}

#nav li li{
	display: block;
	float: none;
	background-color: #6C648B;
	border: 0;
}

#nav li a {
	display: block;
	color: #EDFFCA;
	padding: 14px 16px;
	text-decoration: none;
	transition: .075s;
}

#nav li a:hover:not(.active) {
	background-color: #EDFFCA;
	color: #6C648B;
}

#nav li:hover ul{
	display: block;
}

#nav li ul a{
	float: left;

}

#selected{
	background-color: yellow;
}

/**
	CSS used to adjust widths of dropdown menus
**/
.home{
	padding: 0 0;
	width: 46px;
	height: 46px;
	bottom: 50px;
}
.tutorialsWidth li a{
	width: 9.5em;
	float: left;
}

.commandsWidth li a{
	width: 10.5em;
}

.quizzesWidth li a{
	width: 7em;
}

.resourcesWidth li a{
	width: 6em;
}

.active{
	background-color: #EDFFCA;
	color: #6C648B;
}

#search{
	float: right;
	padding: 0 0;
}

/**
	Query used to adjust navbar to Hamburger at smaller screens
	Need an @ media Query at 471px, or 540 if we add a search icon
	Will have to delete navbar and add in a hamburger
**/

@media only screen and (max-width: 750px){

	#nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #6C648B;
		text-align: center;
	}

	#nav li{
		float: none;
	}

	#nav li ul, #nav li li ul{
		display: none;
		position: absolute;
		font-weight: normal;
	}

	#nav li li{
		display: block;
		float: none;
		background-color: #6C648B;
		border: 0;
	}

	#nav li a{
		display: block;
		color: #EDFFCA;
		padding: 14px 16px;
		text-decoration: none;
		transition: .075s;
	}

	#nav li a:hover{
		background-color: #EDFFCA;
		color: #6C648B;
	}

	#nav li:hover ul{
		display: none;
	}

	#nav li:onclick{
		display:block;
	}

	#nav li ul a{
		float: left;

	}

}

/* Wraps around the entire page content to create space for footer */
#page{
    min-height: 100%;
    margin-bottom: 10em;
}

/* Space for footer */
#push{
    height: 10em;
}

/* CSS for footer */
#footer{
	background-color: #7a719e;
    padding: 15px;
	text-align: center;
	color: black;
}

/* Centers sand removes and list styles from lists in footer */
.footerList{
    list-style-type: none;
	text-align: center;
}

/* Makes the footer objects appear next to each other and add padding */
.footerWidth{
	display: inline-block;
	padding: 0 20px 0 20px;
}

/* Padding for body of resources */
#resourceBody{
    padding: 15px 30px 10px 30px;
}

/* Class used for centering images */
.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 0 5px 0;
}

.floatLeft{
	display: inline-block;
    vertical-align: top;
    width: 25%;
}

/* Used for resources books images */
.resourceDisplay{
    display:inline-block;
    padding: 10px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

/* Used for resources books text*/
.resourceDisplayText{
    display:inline-block;
    vertical-align: top;
    width: 70%;
	padding-left: 5px;
	padding-top: 5px;
}

/* Use to turn font black for specific tags*/
.black{
    color: black;
}

.italics{
    font-style: italic;
}

/* Class used for centering text */
.centerText{
    text-align: center;
}

/* Class used to left align text */
.leftText{
    text-align: left;
    text-decoration: none;
}

h1{
   color:#3d3d5c;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   }

h4{
	font-weight: bold;
	text-align: center;
}

/*size for quiz font size*/
h5{
    color::#3d3d5c;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}



p{
    line-height: 150%;
    text-align: justify;
    margin: 5px;
	}

	@media screen and (max-width: 750px){
		p{
			text-align: left;
		}
	}


a:link{
		color: #6C648B;
		text-decoration: none;
		}

a:visited{
		   color: #4d4d4d;
		   text-decoration: none;
		   }

a:hover{
		color: #6C648B;
		text-decoration: underline;
		}

a:active{
		  color: #B0C4DE;
		  text-decoration: underline;
}



.tran{
      clear: both;
      margin-right: 0;
      display: inline-block;
      transition: 1s;


      }

.tran:hover{
			opacity: 0.7;
    		filter: alpha(opacity=7);
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 18px 0 rgba(0, 0, 0, 0.9);

    	  }



.border1{
	background-color:#fafafa;
	margin: 5% 10% 1% 10%;
	padding: 1% 1% 1% 1%;
	border: 1px solid black;
}

.border1 ul li{
	list-style-type: none;
}


.box1{
	margin-left:8%;
	margin-right:8%;
	margin-bottom:7%

}

.box1 ul{
	list-style-type: none;
}

.box1 ul li{
	padding: 5px 5px 5px 5px;
}


/*tutorial page*/
.commBorder{
    	border-left: 8px solid #8585ad;
		background-color: #dfe2ec;
		padding-left: 10px;
		font-size:25px;
	}

.textColor{
	    color: #454059;
	}

/*common commands page and tutorial page - summary table*/
table, td, th{
   		border: 3px solid #ddd;
    		 text-align: left;
		}

table{
    border-collapse: collapse;
    width: 100%;
	}

th, td{
    text-align: left;
    padding: 12px;
	}

tr:nth-child(even){background-color: #e6e6e6}


/*Create a Scroll To Top Button*/
#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#47476b;
  color: white;
  cursor: pointer;
  padding: 12px 17px 12px 17px;
  border-radius: 10px;
  font-size:20px;
}


#myBtn:hover{
  background-color:  #666699;
}

/*Create Submit Button */
.button{
    background-color: #5c5c8a;
    color: white;
    border-radius:5%;
    font-size: 15px;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 1em;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    box-shadow: 0 8px 16px 0 rgba(209, 209, 224,0.5), 0 6px 20px 0 rgb(209, 209, 224);
    margin-left:45%;
    margin-right:50%;

}


/*tutorials images border*/
.ridge{
		border-style: ridge;
		width:45vw;
		height:300px;
		border-color:#808080;
}

/*tutorial images*/
#Img{
    cursor: pointer;
    transition: 0.3s;
}

#Img:hover{
	opacity: 0.7;
}


/* background of enlarge images*/
.backColor{
    display: none;
    position: fixed;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}


/* image size*/
.backColor-image{
    margin: auto;
    display: block;
    max-width: 700px;
    width: 80%;

}

/* Caption of image */
#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    padding: 10px 0;
    height: 150px;
    color: #ccc;
}

/* Add Animation */
.backColor-image, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom{
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom{
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Exit Button */
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% image Width on smaller screens */
@media only screen and (max-width: 700px){
    .backColor-image{
        width: 100%;
    }
}

@media screen and (max-width:500px){
	.tran:hover{
		display:none;
	}
	.tran{
		display:none;
	}

	.pic{
		display:none;
	}

	.disappear{
		display: none;
	}

}
